html{
    background-image: radial-gradient(purple, green);
}
<<<<<<< HEAD
=======
#MainTitle{
=======
h1{
>>>>>>> bc40fdc5729962e4caeb8016d73558c0e414af18
    font-family: 'Times New Roman', Times, serif;
    font-size: 50px;
    color: rosybrown;
}